{block content}
Main page

    <a n:href="Adventure:default">Adventures</a>
    <a n:href="Adventure:disapprovedAdventures">Abandoned adventures</a>
    <a n:href="Download:generateExcel">Excel example</a>
    <a n:href="Budget:default">Budgets for {$currentYear} - {if $yearBudgets} {count($yearBudgets)} / 4{/if}</a>
{/block}